<div class="product-card">
    <div class="product-card-img">
        <img src="https://m.media-amazon.com/images/I/51XbVwS3StL._AC_SY164_.jpg">
    </div>
    <div class="product-card-title">It's a Long Story: My Life</div>
    <h2 class="product-card-price">$26.10</h2>
</div>
<div class="product-card">
    <img class="product-card-img" src="">
    <div class="product-card-title"></div>
    <h2 class="product-card-price"></h2>
</div>
<div class="product-card">
    <img class="product-card-img" src="">
    <div class="product-card-title"></div>
    <h2 class="product-card-price"></h2>
</div>
<div class="product-card">
    <img class="product-card-img" src="">
    <div class="product-card-title"></div>
    <h2 class="product-card-price"></h2>
</div>
<div class="product-card">
    <img class="product-card-img" src="">
    <div class="product-card-title"></div>
    <h2 class="product-card-price"></h2>
</div>
<div class="product-card">
    <img class="product-card-img" src="">
    <div class="product-card-title"></div>
    <h2 class="product-card-price"></h2>
</div>
<div class="product-card">
    <img class="product-card-img" src="">
    <div class="product-card-title"></div>
    <h2 class="product-card-price"></h2>
</div>
<div class="product-card">
    <img class="product-card-img" src="">
    <div class="product-card-title"></div>
    <h2 class="product-card-price"></h2>
</div>
<div class="product-card">
    <img class="product-card-img" src="">
    <div class="product-card-title"></div>
    <h2 class="product-card-price"></h2>
</div>
<div class="product-card">
    <img class="product-card-img" src="">
    <div class="product-card-title"></div>
    <h2 class="product-card-price"></h2>
</div>
