.sidebar {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.sidebar-title {
    margin-bottom: -5px;
}
a {
    color: black;
    text-decoration: none;
}
.book-category-item {
    margin-left: 10px;
    display: block;
    cursor: pointer;
}
.book-category-item:hover {
    text-decoration: underline;
}